Subject: Технические требования к серверу и серверному ПО для #wpp

Основное требование: PHP 5.1 или выше.

Далее, все все зависит от подключаемых пакетов. В среднем, во время разработки
и продакшина почти всегда будет необходима поддержка
php-spl, php-gd2, php-mbstring, php-iconv, php-mysql, php-simplexml.

Каждый пакет в #wpp при подключении проверяет, все ли необходимое для его
работы есть - и если чего-то не хватает, он выбрасывает соответствующий
Exception при подключении.

Также, в index-документации по каждому пакету в секции "подключение в #wpp"
описываются все зависимости и требования к пакетам.

==============================
PHP
==============================
PHP 5.1 или выше.
Для Engine обязательно php-extension simplexml.

И возможность для php выставить:
max_post_size = 50M
file_upload_size = 25M
register_globals = Off
display_errors = On
memory_limit = 128M (для #ImageProcessor)
time_limit = 600 (10 minutes) (для cron-скриптов)

==============================
MySQL
==============================
MySQL 3.x или выше с поддержкой кодировок UTF-8, windows-1251.

==============================
Web-Server
==============================
Веб-сервер - теоретически любой.

Желательно, чтобы php работал в режиме php-cgi, php-fcgi или
apache-mpm-itk+mod_php.
То есть, процессы php должны запускаться под правами владельца файла, а не под
правами юзера www.
PHP может работать и в режиме обычном mod_php, но тогда на часть директорий
придется установить права на запись для сторонних пользователей.

Веб-сервер должен понимать файлы .htaccess с директивами:

RewriteEngine (модуль apache mod_rewrite)
deny from all
require valid-user (mod_auth)

Предпочтительный веб-сервер:
Apache 2 + nginx на front-end как кеширующий/проксирующий веб-сервер.

Внимание: под MS IIS #wpp не тестировались и даже нет в планах ;)

==============================
OS
==============================
Любая.
Предпочтительно: debian, freebsd, centos, ubuntu.
#wpp корректно работает под windows denwer с php5+mbsting.